* {
  border-radius: 0 !important;
  color: #000 ;
  font-family:'TradeGothic', sans-serif;
  color: #e6e6e6;
}

.navbar-brand {
    fill: #000;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}


.img-responsive {
    fill: #000;
}

.released_at {
    margin-bottom: 10px;
}

.div {
    text-align: center;
    margin-bottom: 15px;
}


#movie {
    text-align: center;
}

#characters {
    text-align: center;
}

#team-type {
    text-transform: uppercase;
}

#movie-char {
    margin-bottom: 10px; 
    align: middle;
}

.page-header {
    text-transform: uppercase;

}
.page-header small{
    text-transform: capitalize;
    color:#a6a6a6;
}

#char {
    text-transform: uppercase;
    font-weight: 
}

.affiliations{
    text-transform: uppercase;
}

.description {
    background-color: #333333;
    padding: 10px 10px 10px 10px;
}

#name {
    text-align: center
}






