* {
  border-radius: 0 !important;
  color: #000;
  font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.navbar-brand {
    fill: #000;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}


.img-responsive {
    fill: white;
}

.released_at {
    font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.div {
    text-align: center;
    font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

p {
   font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; 
}

#movie {
    text-align: center;
    font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}

#characters {
    text-align: center;
    font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}

#team-type {
    text-transform: uppercase;
}



