<html>
<head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/site.css"/>
  
</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div id ="wrap">
    <div class="container">

        <div class="navbar-header">
            <img align="left" style="height:45px"src="/static/img/Marvel-logo.png">
            <a class="navbar-brand" href="/">THE MARVEL CINEMATIC UNIVERSE</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/movie_list">MOVIES</a></li>
                <li><a href="/characters">CHARACTERS</a></li>
                <li><a href="/connections">CONNECTIONS</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="container">

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

  
  </div>
</div
            


</body>
  <script src="http://d3js.org/d3.v3.js"></script>
  
  
</html>