{% extends 'base.html' %}

{% block body %}
    <head>
        <title>{{ char_info.character_name }}</title>
    </head>

    <h1>{{ char_info.character_name }}</h1>
    <h2>{{ char_info.civilian_name}}</h2>
    <p>Abilities: {{ char_info.abilities }}</p>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="{{ char_info.image1 }}" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="{{ char_info.image2 }}" class="img-responsive">
        </div>
    </div>

    <div class="char-details">

        <h2>Description:</h2>

        <p> {{ char_info.description }}</p>
    </div>
    
    <div class="char-movie-details">
        <h2>Movies Featured In:</h2>
        <div id="movie-list" class="row">
        
        {% for movie in char_movie %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 char-movie-summary">
                
                <div class="well">
                    <h3><a href="/movies/{{ movie.movie_id }}">{{ movie.movie_name }}</a></h3>
                    
                    <a href="/movies/{{ movie.movie_id }}">
                        <img src="https://image.tmdb.org/t/p/w185/{{ movie.image }}" class="img-responsive">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="char-affil-details">
        <h2>Affiliations:</h2>
        <div id="group-list" class="row">
        
        {% for affil in char_affil %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 char-group-summary">
                
                <div class="well">
                    <h3><a href="">{{ affil.affiliation_name }}</a></h3>
                    <h5>{{ affil.affiliation_type }}</h5>
                    <img src="{{ affil.image }}" class="img-responsive">
                
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}