{% extends 'base.html' %}

{% block body %}
  <head>
    <title>Characters</title>
  </head>

    <h1 id="characters" class="page-header">CHARACTERS</h1>

    <div id="character-list" class="row">
      {% for character in characters %}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 character-summary">

              <div class="div">
                  <h3 id="char">{{ character.character_name }}</h3>
                      <a href="/characters/{{ character.character_id }}"> <img id="img" style="max-height:220px" src="{{ character.image1 }}" class="">
                      </a>
              </div>

          </div>
      {% endfor %}
    </div>

{% endblock %}