<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/homepage.css">
    <title>MCU Untitled</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <h1><strong>MARVEL CINEMATIC UNIVERSE</strong></h1>

        <a href="/movie_list" class="btn btn-lg btn-primary">ENTER</a>

    </div>
</div>


<footer>
    <p></p>
</footer>

</body>
</html>