{% extends 'base.html' %}

{% block body %}
    <head>
        <title>{{ movie_info.movie_name }}</title>
    </head>

    <h1>{{ movie_info.movie_name }}</h1>
    <p>Released: {{ movie_info.release_date }}</p>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="https://image.tmdb.org/t/p/w185/{{ movie_info.image }}" class="img-responsive">
        </div>

    </div>

    <div class="movie-details">

        <h2>Movie Synopsis</h2>

        <p> {{ movie_info.description }}</p>
    </div>
    <div class="movie-char-details">
        <h2>Featured Characters:</h2>
        <div id="character-list" class="row">
        
        {% for char in movie_char%}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 movie-char-summary">
                
                <div class="well">
                    <h3><a href="/characters/{{ char.character_id }}">{{ char.character_name }}</a></h3>
                    
                        <img src="{{ char.image1 }}" class="img-responsive">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}