{% extends 'base.html' %}

{% block body %}
    <head>
        <title>{{ movie_info.movie_name }}</title>
    </head>

    <h1 class="page-header">{{ movie_info.movie_name }}</h1>
    <p>Released on: {{ movie_info.release_date }}</p>

    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3">
            <img style="height:300px" src="https://image.tmdb.org/t/p/w185/{{ movie_info.image }}" class="">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
            <h4 class=""><strong>Movie Synopsis:</strong></h4>
                <p class="description"> {{ movie_info.description }}</p>
        </div>
        
    </div>

    <div class="movie-details">

        
    </div>
    <div class="movie-char-details">
        <h3>Featured Characters:</h3>
        <div id="character-list" class="row">
        
        {% for char in movie_char%}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 movie-char-summary">
                
                <div class="movie-char">
                    <h3 id="name" style="width:180px"><a href="/characters/{{ char.character_id }}">{{ char.character_name }}</a></h3>
                    
                        <img id="movie-char" style="height:200px" src="{{ char.image1 }}" class="img-responsive">
                    </a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>




{% endblock %}