{% extends 'base.html' %}

{% block body %}
    <head>
        <title>{{ movie_info.movie_name }}</title>
    </head>

    <h1 class="page-header"><strong>{{ movie_info.movie_name }}</strong></h1>
    <p>Released on: {{ movie_info.release_date }}</p>

    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3">
            <img style="height:300px" src="https://image.tmdb.org/t/p/w185/{{ movie_info.image }}" class="">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 well">
            <h4><strong>Movie Synopsis:</strong></h4>
                <p> {{ movie_info.description }}</p>
        </div>
        

        <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    {% for image in backdrop%}
                        <div class="">
                            <img src="https://image.tmdb.org/t/p/w300/{{ image }}" class="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
         
    </div>

    <div class="movie-details">

        
    </div>
    <div class="movie-char-details">
        <h3><strong>Featured Characters:<strong></h3>
        <div id="character-list" class="row">
        
        {% for char in movie_char%}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 movie-char-summary">
                
                <div class="">
                    <h3><a href="/characters/{{ char.character_id }}">{{ char.character_name }}</a></h3>
                    
                        <img style="height:200px" src="{{ char.image1 }}" class="img-responsive">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}