{% extends 'base.html' %}

{% block body %}
  <head>
    <title>Movies</title>
  </head>
    <h1 id="movie" class="page-header">MOVIES</h1>

    <div id="movie-list" class="row">
      {% for movie in movies %}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 movie-summary">

              <div class="div">
                <a href="/movies/{{ movie.movie_id }}"> <img style="max-height:275px" src="https://image.tmdb.org/t/p/w185/{{ movie.image }}" title="{{ movie.movie_name }}">
                </a>

                  <!-- <div class="released_at">Released on: {{ movie.release_date }}</div> -->
                
              </div>

          </div>
      {% endfor %}
    </div>
    <div id="footer">
    <div class="container">
      <p> <img align="left" style="height:20px" src="/static/img/TMDb.png"> This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
      <p> <img align="left" style= "height:30px" src="/static/img/Marvel-logo.png"> Logo from Marvel. © 2014 Marvel</p>
      
          
      </div>
    </div>
{% endblock %}